@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --clr-border: #D8D8D8;
    --clr-red: #FF7474;
    --clr-blue: #7CA8FF;
    --clr-title: #DA4D4D;

    --bkg-btn: linear-gradient(0deg, rgba(255, 116, 116, 0.2), rgba(255, 116, 116, 0.2)), #7CA8FF;
    --bkg-btn-hover: linear-gradient(0deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), #7CA8FF;
    --bkg-btn-ng-hover: #f32b2b;
    --bkg-btn-nr-hover: #558cf9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter';
    user-select: none;
}

input {
    appearance: none;
    border: none;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.645);
}

input:focus {
    border: 2px solid black;
}

button {
    appearance: none;
    background: none;
    border: none;
}

input[type="text"],
button {
    padding: 1rem;
    border-radius: 100px;
    color: white;
}

.flex {
    display: flex;

    &.flex-jc-c {
        justify-content: center;
    }

    &.flex-jc-r {
        justify-content: right;
    }

    &.flex-ai-c {
        align-items: center;
    }

    &.flex-d-c {
        flex-direction: column;
    }
}

header {
    
    & .corner {
        width: 15rem;
        position: absolute;
    }

    & .github {
        width: 4.5rem;
        position: absolute;
        top: 2.5%;
        left: 92.8%;
    }
    
    & .github.spin:hover {
        /* animation: spin 1s; */
        width: 5rem;
        transform: rotate(360deg);
        transition: 1s;
    }
    
    & .github.unspin {
        transform: rotate(-360deg);
        transition: 1s;
    }
}

h1#title {
    font-family: 'Rowdies';
    font-size: 4rem;
    color: var(--clr-title);

    text-align: center;
}

.game-menu {
    gap: 2rem;
}

.game-menu form {
    gap: 1.4rem;
}

form div {
    gap: 0.5rem;
}

input#player1 {
    background-color: var(--clr-blue);

}
input#player2 {
    background-color: var(--clr-red);
}

input#rounds {
    width: 30%;
}

button {
    background: var(--bkg-btn);
    margin-top: 1rem;

    /* half of the <form>'s size, so half of inputs */
    width: 50%;
}

button:hover {
    background: var(--bkg-btn-hover);
    cursor: pointer;
}

button.new-round,
button.new-game {
    width: 50%;
    margin: 0;
}
button.new-round {
    background: var(--clr-blue);
}
button.new-game {
    background: var(--clr-red);
}

button.new-round:hover {
    background: var(--bkg-btn-nr-hover);
}
button.new-game:hover {
    background-color: var(--bkg-btn-ng-hover);
}

.game-container {
    width: 30vw;
    margin: 1vh auto;
}

.hidden{
    display: none;
}

.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell.border-bottom {
    border-bottom: 5px solid var(--clr-border);
}

.cell.border-right {
    border-right: 5px solid var(--clr-border);
}

.cell {
    width: 10vw;
    height: 6rem;
    padding: 0.5rem;
}

.game-status {
    margin-top: 3rem;
    gap: 0.6rem;
}

.rectangle {
    color: white;
    
    padding: 0.6rem;
    border-radius: 100px;
    gap: 0.8rem;
}

.rectangle img {
    width: 1.5rem;
}

.rectangle.player1 {
    background-color: var(--clr-blue);
    flex-direction: row-reverse;
    transition: 1s;
}

.rectangle.player2 {
    background-color: var(--clr-red);
    transition: 1s;
}

.score {
    font-size: 1.8rem;
}

.score.player1 {
    color: var(--clr-blue);
}

.score.player2 {
    color: var(--clr-red);
}

#modal {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.659);
}

#modal .content {
    width: 20%;
    height: 30%;
    border-radius: 10px;
    margin: 15% auto;
    background-color: white;
    gap: 1.5rem;
}

@media only screen and (max-width: 768px) {
    
    body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    header {
        & .corner {
            width: 10rem;
        }

        & .github {
            width: 3rem;
            position: absolute;
            top: 1%;
            left: 85%;
        }
        
        & .github.spin:hover {
            width: 3.5rem;
        }
    }

    #title {
        margin-top: 5rem;
    }

    .game-menu {
        font-size: 1.2rem;
    }

    .game-menu form {
        gap: 2rem;
    }

    .game-menu input,
    button {
        padding: 1.5rem;
    }

    .game-menu input[type='text'] {
        font-size: 1rem;
    }

    .game-container {
        width: auto;
    }

    .cell {
        width: 32vw;
        height: 15vh;
    }

    #modal .content {
        margin: 60% auto;
        width: 80%;
    }

    #modal button {
        padding: 2rem;
        width: 60%;

        font-size: 1.3rem;
    }
}

span.strike {
    width: 100%;
    height: 1rem;

    /* top: 15%; */
    
    position: absolute;

    border: 2px solid;
    border-radius: 10px;

  /*   background: #D9D9D9; */
    background: white;
    /* transform: rotate(0deg); */

    &.player1 {
        border-color: var(--clr-blue);
        animation: pulseBlue 2s infinite, move 0.8s linear;
    }
    &.player2 {
        border-color: var(--clr-red);
        animation: pulseRed 2s infinite, move 0.8s linear;
    }
    &.row-1 {
        top: 15%;
    }
    &.row-2 {
        top: 45%;
    }
    &.row-3 {
        top: 80%;
    }
    &.column-1 {
        rotate: 90deg;
        top: 50%;
        width: 70%;
        left: -18%;
    }
    &.column-2 {
        rotate: 90deg;
        top: 50%;
        width: 70%;
        /* same but: */
        left: 15%;
    }
    &.column-3 {
        rotate: 90deg;
        top: 50%;
        width: 70%;
        left: 49%;
    }
    &.diagonal-r {
        top: 45%;
        rotate: 40deg;
    }
    &.diagonal-l {
        top: 45%;
        rotate: -40deg;
    }
}

/* animations */
@keyframes pulseBlue {
    0% {
  /*     -moz-box-shadow: 0px 0px 30px #1100FF; */
      box-shadow: 0px 0px 20px 5px var(--clr-blue);
    }
    70% {
  /*       -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        box-shadow: 0px 0px 30px 10px var(--clr-blue);
    }
    100% {
  /*       -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        box-shadow: 0px 0px 20px var(--clr-blue);
    }
}
@keyframes pulseRed {
    0% {
  /*     -moz-box-shadow: 0px 0px 30px #1100FF; */
      box-shadow: 0px 0px 20px 5px var(--clr-red);
    }
    70% {
  /*       -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        box-shadow: 0px 0px 30px 10px var(--clr-red);
    }
    100% {
  /*       -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        box-shadow: 0px 0px 20px var(--clr-red);
    }
}

@keyframes move {
    0% {
        transform: scaleX(0%);
    }

    10% {
        transform: scaleX(10%);
    }

    20% {
        transform: scaleX(20%);
    }
    
    30% {
        transform: scaleX(30%);
    }

    40% {
        transform: scaleX(40%);
    }

    50% {
        transform: scaleX(50%);
    }

    60% {
        transform: scaleX(60%);
    }

    70% {
        transform: scaleX(70%);
    }

    80% {
        transform: scaleX(80%);
    }

    90% {
        transform: scaleX(90%);
    }

    100% {
        transform: scaleX(100%);
    }
}

@keyframes spin {
    0% {
        rotate: 0%;
      }

    90% {
        width: 5rem;
        rotate: 360deg;
    }
}